<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>CartControl</servlet-name>
        <servlet-class>controller.CartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>controller.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Config</servlet-name>
        <servlet-class>controller.vpn.Config</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionServlet</servlet-name>
        <servlet-class>controller.vpn.TransactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatControl</servlet-name>
        <servlet-class>controller.ChatControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>controller.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopController</servlet-name>
        <servlet-class>controller.ShopController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartControl</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Config</servlet-name>
        <url-pattern>/config</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionServlet</servlet-name>
        <url-pattern>/transaction</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusChangeServlet</servlet-name>
        <servlet-class>controller.StatusChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeStatus</servlet-name>
        <servlet-class>controller.changeStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchmanager</servlet-name>
        <servlet-class>controller.searchmanager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>controller.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager</servlet-name>
        <servlet-class>controller.Manager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createManager</servlet-name>
        <servlet-class>controller.createManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDiscounts</servlet-name>
        <servlet-class>controller.CreateDiscounts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDiscounts</servlet-name>
        <servlet-class>controller.UpdateDiscounts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllDiscounts</servlet-name>
        <servlet-class>controller.AllDiscounts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusChangeServlet</servlet-name>
        <url-pattern>/Status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeStatus</servlet-name>
        <url-pattern>/change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchmanager</servlet-name>
        <url-pattern>/searchm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createManager</servlet-name>
        <url-pattern>/createM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDiscounts</servlet-name>
        <url-pattern>/discounts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDiscounts</servlet-name>
        <url-pattern>/updatedis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllDiscounts</servlet-name>
        <url-pattern>/discountlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatControl</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopController</servlet-name>
        <url-pattern>/shop</url-pattern>

    </servlet-mapping>
</web-app>
